---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build

on:
  push:
    branches: ["main"]
    paths-ignore:
      - .github/**
  pull_request:
    branches: ["main"]
    paths-ignore:
      - .github/**
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      name: Install Nix
      with:
        extra_nix_config: sandbox = true
        install_options: --no-daemon

    - name: Format Check
      run: nix fmt -v

    - name: Check Flake
      run: nix flake check
